html {
    font-family: arial, sans-serif;
    background-color: white;
    min-height: 100%;
}

body {
    position: relative;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0.75;
    font-size: 13px;
    padding: 10px 20px 0px 20px;
    align-items: center;
    }

 .about {
     padding: 0px 0px 0px 15px;
 }   

 .store {
    padding: 0px 0px 0px 15px;
 }

 .gmail {
    padding: 0px 0px 0px 15px;
 }

 .images {
    padding: 0px 15px 0px 15px;
 }

 .sign-in {
    padding: 5px 12px;
    background-color: #357ff7;
    color: white;
    font-weight: bold;
 }

 .google-logo {
     display: flex;
     justify-content: center;
     padding: 109px 0px 0px 0px;
     max-width:100%;
     height:auto;
 }

 .nav-left {
     display: flex;
    justify-items: flex-start;
 }

 .nav-right {
     display: flex;
     justify-items: flex-end;
     align-items: center;
 }

 .searchbar {
     display: flex;
     flex-direction: row;
     justify-content: center;
     padding: 30px 0px 0px;
 }

 .typebox {
     width: 450px;
     line-height: 34px;
     border-radius: 50px;
     border:1px solid lightgray;
 }

 .mic {
     height: 24px;
     width: 24px;
     padding: 7px 0px 0px;
 }

 footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     display: flex;
     align-items: center;
     background-color: #f2f2f2;
     line-height: 40px;
     font-size: 14px;
     color: #5F6368;
     justify-content: space-between;
 }

 .advertising {
     padding: 0px 0px 0px 27px;
 }

 .business {
     padding: 0px 0px 0px 27px;
 }

 .buttons {
     display: flex;
     flex-direction: row;
     justify-content: center;
     margin-top: 30px;
 }

 .google-search {
     align-content: center;
     margin: 0px 15px 0px 0px;
     display: flex;
     justify-content: center;
     padding: 11px 4px;
     font-family: arial;
     font-size: 14px;
     text-align: center;
     background-color: #f2f2f2;
     border: none;
 }

 .im-feeling-lucky {
    align-content: center;
    margin: 0px 15px 0px 0px;
    display: flex;
    justify-content: center;
    padding: 11px 4px;
    font-family: arial;
    font-size: 14px;
    text-align: center;
    background-color: #f2f2f2;
    border: none;
 }

 
 .how-search-works {
     padding: 0px 0px 0px 27px;
 }

 .privacy {
     padding: 0px 0px 0px 27px
 }

 .terms {
    padding: 0px 0px 0px 27px
 }

 .settings {
    padding: 0px 27px 0px 27px
 }

 .bottom-left{
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
 }
 .bottom-right {
     display:flex;
     flex-direction: row;
     justify-content: flex-end;
 }