html {
    font-family: arial, sans-serif;
    background-color: white;

}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0.75;
    font-size: 13px;
    padding: 10px 20px 0px 20px;
    align-items: center;
    }

 .about {
     padding: 0px 0px 0px 15px;
 }   

 .store {
    padding: 0px 0px 0px 15px;
 }

 .gmail {
    padding: 0px 0px 0px 15px;
 }

 .images {
    padding: 0px 15px 0px 15px;
 }

 .sign-in {
    padding: 5px 12px;
    background-color: #357ff7;
    color: white;
    font-weight: bold;
 }

 .google-logo {
     display: flex;
     justify-content: center;
     padding: 109px 0px 0px 0px;
 }

 .nav-left {
     display: flex;
    justify-items: flex-start;
 }

 .nav-right {
     display: flex;
     justify-items: flex-end;
     align-items: center;
 }

 .searchbar {
     display: flex;
     flex-direction: row;
     justify-content: center;
     padding: 30px 0px 0px;
 }

 .typebox {
     width: 400px;
     line-height: 34px;
 }

 .mic {
     height: 24px;
     width: 24px;
     padding: 7px 0px 0px;
 }

 footer {
     font: 14px
     display: flex;

 }